{{ define "main" }}
  <div class="section-list">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}<p class="summary">{{ . }}</p>{{ end }}
    {{ .Content }}
    {{ $pages := .Pages }}
    {{ range .Pages }}
    <article class="post-item">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="meta"><time>{{ .Date.Format "2006-01-02" }}</time></div>
      {{ with .Description }}<p class="summary">{{ . }}</p>{{ end }}
    </article>
    {{ end }}
    {{ partial "adsense.html" . }}
  </div>
{{ end }}
